.trend-list{
    display: flex;
    justify-content: center;
}

.list-group-item{
    background-color: #E50914;
}

.trend-movie:hover{
    cursor: pointer;

}
.upcoming-movie:hover{
    cursor: pointer;

}
.search-list:hover{
    cursor: pointer;

}